<div>
  <form action="/edit" method="POST">
    <label for="">Name:</label>
    <input type="text" name="name" value="{{name}}">
    <label for="">User:</label>
    <input type="text" name="username" value="{{username}}">
    <label for="">Password:</label>
    <input type="password" name="password" value="{{password}}">
    <label for="">Email:</label>
    <input type="text" name="email" value="{{email}}">
    <label for="">Profile Image:</label>
    <input type="text" name="profileImg" value="{{profileImg}}">
    <label for="">Description:</label>
    <input type="text" name="description" value="{{username}}">
    <label for="">Facebook ID:</label>
    <input type="text" name="facebookId" value="{{facebookId}}">
    <label for="">Role:</label>
    <select name="role" value="{{role}}" >
        <option value="BOSS">BOSS</option>
        <option value="DEV">DEV</option>
        <option value="TA">TA</option>
        <option value="STUDENT">STUDENT</option>
        <option value="GUEST">GUEST</option>
    </select>

    <button type="submit">Edit user</button>
  </form>
  <div>
    {{#if errorMessage}}
      <span>{{errorMessage}}</span>
    {{/if}}
  </div>
</div>
